body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.checkout-button-bottom {
    height: 90px;
    width: 100%;
    border-top: 1px dotted #D3D3D3;
    padding: 5px;
}

    .checkout-button-bottom * {
        margin-left: 15px;
    }

.checkout-button-bottom-right {
    float: right;
}

.a-button-input {
    position: absolute;
    background-color: #fff;
    color: #fff;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

.cartTotal {
    color: #b12704 !important;
    font-size: 130%;
    font-weight: bold;
}


.checkout-button {
    padding-left: 30px;
    background: url("/Content/checkout.png") 3px center no-repeat #FF4500;
}
