@using Final_eshop_entities.Models
@model Final_eshop_entities.Models.ViewModel.OrderConfirmViewModel
@{
    ViewBag.Title = "Comfirm Order";
}
@Html.Partial("OrderNavigator")
<h2>Confirm Order</h2>
<div id="order-productItems" class="display-block">
    <h3>Product List</h3>
    @Html.Partial("OrderProductItems", Model.CartItems.ToList().ConvertAll(order => (IProduct)order))
</div>
<div id="order-orderHeaderDetail" class="display-block">
    <h3>Order Information</h3>
    @using (Html.BeginForm("Finish", "Order", FormMethod.Post))
    {
        @Html.Partial("OrderHeaderDetail", Model.Order)
        <div class="checkout-button-bottom">
            <div class="display-block checkout-button-bottom-right">
                <input type="submit" value="Place Order" class="btn-default btn-primary" />
            </div>
        </div>
    }
</div>
