@model Final_eshop_xincunli.Models.OrderSummary
@{
    ViewBag.Title = "Complete Order";
}
@Html.Partial("OrderNavigator")
<h2>Order Successfully</h2>
<p>
    Your order number is @(ViewData["OrderId"].ToString()), also send a receipt to your email address: @(User.Identity.Name)
</p>