@using PagedList;
@using PagedList.Mvc;
@model Final_eshop_xincunli.Models.Member

@{
    ViewBag.Title = Model.Name;
}

<div class="hasMenuContent">
    <div class="menu">
       @Html.Partial("UserProfile", Model)
    </div>
</div>


