@using PagedList
@using PagedList.Mvc
@using Final_eshop_xincunli.Models
@model IEnumerable<Final_eshop_xincunli.Models.OrderSummary>
@{
    ViewBag.Title = "Order History";
}
<h2 class="headerTitle">Order History</h2>
<div class="hasMenuContent">
    <div class="menu">
        @Html.Partial("AccountMenu")
    </div>
    <div class="content">
        @Html.Partial("OrderList", Model)
    </div>
</div>
