@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Member", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right in-line">
        @if (MemberManage.Get(User.Identity.Name).Role == Role.Premium)
        {
            <li><img src="~/Image/premium.png" width="42" height="42" /></li>
        }
        else if (MemberManage.Get(User.Identity.Name).Role == Role.Seller)
        {
            <li><img src="~/Image/seller.png" width="42" height="42" /></li>
        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Info", "Member", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Member", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Member", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
