@{
    ViewBag.Title = "NotAuthorization";
}
<p class="error-message">
    @if (ViewData["errorMessage"] == null)
    {
        @:<h1>Sorry, you cannot using this pages, please login as Seller.</h1>
    }
    else
    {
        @:<h3>ViewData["errorMessage"].ToString()</h3>
    }
</p>
