<ul id="orderNavigator" class="h4 list-inline pull-right text-primary">
    <li @if (getController() == "Cart")
        {
            @:class="text-success"
        }>
        Cart>>
    </li>
    <li @if (getAction() == "CheckOut")
        {
            @:class="text-success"
        }>
        Filling Order>>
    </li>
    <li @if (getAction() == "Confirm")
        {
            @:class="text-success"
        }>
        Confirm Order>>
    </li>
    <li @if (getAction() == "Finish")
        {
            @:class="text-success"
        }>
        Place Order
    </li>
</ul>

@functions{
    public string getController(){
       return Request.RequestContext.RouteData.Values["controller"].ToString();
   }
   public string getAction(){
       return Request.RequestContext.RouteData.Values["action"].ToString();
   }
}
