@using Final_eshop_entities.Models;
@model List<Final_eshop_entities.Models.CartItem>
@{
    ViewBag.Title = "Shopping Cart";
}
@section header{
}
<h2>Shopping Cart</h2>
<div id="cartContent">
    <div id="errorMessageContent"></div>
    @if (Session["CartItems"] != null && (Session["CartItems"] as List<CartItem>).Count() > 0)
    {
        @Html.Partial("CartList", Model)
    }
    else
    {
        <p class="notContent">Empty cart</p>
    }
</div>